*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-purple: #8284fa;
  --color-purple-dark: #5e60ce;
  --color-blue: #4ea8de;
  --color-blue-dark: #1e6f9f;
  --color-gray-100: #f2f2f2;
  --color-gray-200: #d9d9d9;
  --color-gray-300: #808080;
  --color-gray-400: #333333;
  --color-gray-500: #262626;
  --color-gray-600: #1a1a1a;
  --color-gray-700: #0d0d0d;
  --color-danger: #e25858;
}

[data-theme='light'] {
  --background-color: var(--color-gray-100);
  --button-background: var(--color-blue-dark);
  --button-text: var(--color-gray-100);
  --input-border: var(--color-gray-300);
  --input-text: var(--color-gray-300);
}

[data-theme='dark'] {
  --background-color: var(--color-gray-600);
  --button-background: var(--color-blue-dark);
  --button-text: var(--color-gray-300);
}

.app {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.completed {
  text-decoration: line-through;
}

.todoContainer {
  width: 736px;
}

.todoForm {
  width: 736px;
  display: flex;
  gap: 8px;
  margin-bottom: 4rem;
}

.todoForm input {
  width: 100%;
  border: 1px solid var(--input-border);
  color: var(--input-text);
  radius: 8px;
  padding: 16px;
}

.todoForm button {
  background-color: var(--button-background);
  color: var(--button-text);
  width: 111px;
  height: 52px;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  gap: 8px;
}
